/* html, body {

    background-color: aqua;
    margin: 0;
    padding: 0;

} */
.headline-who-we-are {

    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 2vw;;

}

.section-who-we-are {

   background-color: #feca1d;


}

.navbar {

    font-family: "bryant-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: #f6ef8f; */
    
}

.onbike-navbar {

    margin-top: 2vw;
    /* margin-left: -8vw; */
    /*background-color: #ef7f80;*/
    border-radius: 15px;
}


.image-section {

    width: 170%; 
    margin-bottom: 7vw;

}

.image-section img {

    width: 100%;  
    object-fit: contain;

}

.paragraph-who-we-are {

    font-family: "bryant-web-alternate", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.row2 {

    border-radius: 20px;
}

