/* html, body {

    background-color: aqua;
    margin: 0;
    padding: 0;

} */
.headline-who-we-are {

    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 2vw;

}

.section-who-we-are {

   background-color:  #f6ef8f;
   

   /* margin-top: 10vw; */
   margin: 0;

}


.navbar {

    font-family: "bryant-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: #f6ef8f; */
    
}

.onbike-navbar {

    margin-top: 2vw;
    /* margin-left: -8vw; */
    /*background-color: #ef7f80;*/
    border-radius: 15px;
}


.image-section {

    width: 170%; 
    margin-bottom: 7vw;

}

.image-section img {

    width: 100%;  
    object-fit: contain;

}

.paragraph-who-we-are {

    font-family: "bryant-web-alternate", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}


/* .container-row2 {

    background-image: url("images/background-image-who-are-we.png");
    background-size: cover, contain;
    background-repeat: no-repeat;
} */
.row2 {

    border-radius: 20px;
    /* margin-bottom: 5%; */

}

.nastya-image {
    height: 78%;
}

.text-3rd-row {

    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 2vw;
    color: #ea515b;
    -webkit-text-stroke: 1px black;
    margin-bottom: 5vw;

}

.mockups {

    border-radius: 10px;

}

.row4 {

    /* background-color: #ececec; */
    margin-bottom: 5vw;
    /* height: 30vw; */
}

.onbike-2025 {

    padding: 0;


}

.app-store-image {

    width: 30%;
    margin-bottom: 1%;
}

.google-play-image {

    width: 30%;
}

.download-onbike {

    font-family: "bryant-web-alternate", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10vw;

}

.downloads {

    background-image: url("images/footer-background.png");
    background-size: cover, contain;
}


/* .footer {

    background-color: #d3d3d3;

} */






/* Giude page */

.how-to-ride-headline {

    font-family: "pain-de-mie", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ea515b;
    -webkit-text-stroke: 1px  black;
    margin-bottom: 4vw;
    
}

.step {

    font-family: "bryant-web-alternate", sans-serif;
    font-weight: 500;
    font-style: italic;
    

}

.step-desc {

    font-family: "bryant-web-alternate", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* background-color: #f6ef8f; */

}


.icons {

    width: 10%;
    background-color: #f6ef8f;
    /* margin-left: 9vw; */
}





.icon-sect {

    background-color: #ececec;

}
